@import "./assets/fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  .movies-app {
    background-color: black;
    min-height: 100vh;
    --primary: #5961ff;
  }
  .font-ploni {
    font-family: "ploni";
  }
  .font-ploni-black {
    font-family: "ploni-black";
  }
  .font-ploni-bold {
    font-family: "ploni-bold";
  }
  .font-ploni-demibold {
    font-family: "ploni-demibold";
  }
  .font-ploni-light {
    font-family: "ploni-light";
  }
  .font-ploni-medium {
    font-family: "ploni-medium";
  }
  .font-ploni-ultrabold {
    font-family: "ploni-ultrabold";
  }
  .font-ploni-ultralight {
    font-family: "ploni-ultralight";
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-ploni;
  }
}
